@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PagosAcademicos.Areas.Admin.Models.ViewModels.AgregarTipoPagoViewModel
@{
    Layout = "AdminLayout";
}

<section class="max-w-xl mx-auto mt-4 ">

    <h3 class="text-2xl">Agregar metodo de pago</h3>

    <form method="post" enctype="multipart/form-data" action="~/Admin/MetodosPago/Agregar"
        class="flex flex-col max-w-lg p-4 ">
        <label for="Nombre">Nombre</label>
        <input required type="text" id="Name" class="input" asp-for="Nombre">
        <label for="Icono">Icono</label>
        <input required type="file" asp-for="Icono" accept="image/png" id="icon">
        <img id="preview" style="max-width: 50px; max-height: 50px; margin: 0 auto;">
        <input type="submit" value="Agregar" class="bg-primary px-4 py-1 text-white rounded-md mt-2">
        <p class="text-red-500 mt-2">
            @Html.ValidationSummary(true)
        </p>
    </form>

</section>

<script>
    const icon = document.querySelector('#icon');
    const preview = document.querySelector('#preview');

    icon.addEventListener('change', (e) => {
        const file = e.target.files[0];
        const fileReader = new FileReader();
        fileReader.readAsDataURL(file);
        fileReader.addEventListener('load', (e) => {
            preview.src = e.target.result;
        });
    });
</script>