@{
    Layout = "AdminLayout";
}


<section class="max-w-5xl mx-auto">
    <h3 class="text-2xl my-4">Metodos de pago</h3>
    <div class="overflow-x-auto">
        <a href="~/Admin/MetodosPago/Agregar" class=" bg-primary text-white px-4 py-2 rounded-md">Agregar</a>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>


                    <th scope="col" class="py-3 px-6">
                        Nombre
                    </th>
                    <td>
                        Pagos registrados
                    </td>
                    <th scope="col" class="py-3 px-6">
                        Editar
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr class="bg-white border-b ">


                    <td class="py-4 px-6">
                        Paypal
                    </td>
                    <td class="py-4 px-6">
                        14
                    </td>
                    <td class="py-4 px-6">
                        <button>Editar</button>
                    </td>
                    <td class="py-4 px-6">
                        <button>Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
