@model IEnumerable<PagosAcademicos.Areas.Admin.Models.ViewModels.IndexTipoPagoViewModel>
@{
    Layout = "AdminLayout";
}


<section class="flex flex-col max-w-5xl mx-auto">
    <h3 class="text-2xl my-4">Metodos de pago</h3>
    <a href="~/admin/metodospago/agregar" class="w-fit bg-primary text-white px-4 py-2 mb-2 rounded-md">Agregar</a>

    <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Id
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Nombre
                    </th>
                    <td>
                        Pagos registrados
                    </td>
                    <th scope="col" class="py-3 px-6">
                        Editar
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="bg-white border-b ">
                        <td class="py-4 px-6">
                            @item.Id
                        </td>
                        <td class="py-4 px-6">
                            @item.Nombre
                        </td>
                        <td class="py-4 px-6">
                            @item.PagosRegistrados
                        </td>
                        <td class="py-4 px-6">
                            <a href="~/admin/metodospago/editar/@item.Id">Editar</a>
                        </td>
                        <td class="py-4 px-6">
                            <a href="~/admin/metodospago/eliminar/@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
