@{
    Layout = "MainLayout";
}


<section class="max-w-xl mx-2 md:mx-auto m-4">
    <a href="~/usuario" class="bg-primary px-4 py-2 text-white">Volver</a>
    <div class="grid place-content-center mt-4">
        <table class="table-auto border-collapse  bg-white shadow-xl">
            <thead>
                <tr>
                    <td class="border-2 text-center p-2 " colspan="2">
                        Detalles de pago
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border-2 p-2">ID de pago</td>
                    <td class="border-2 p-2">1</td>
                </tr>

                <tr>
                    <td class="border-2 p-2">Monto</td>
                    <td class="border-2 p-2">
                        $2750
                    </td>
                </tr>
                <tr>
                    <td class="border-2 p-2">Concepto</td>
                    <td class="border-2 p-2">
                        Reinscripción AD2023
                    </td>
                </tr>
                <tr>
                    <td class="border-2 p-2">Fecha</td>
                    <td class="border-2 p-2">
                        17 de agosto de 2021
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>