@{
    ViewData["Title"] = "Denied";
}


<!DOCTYPE html>
<html lang="es-mx">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&family=Poppins:ital,wght@0,100;0,300;0,500;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/styles.css" asp-append-version="true" />


</head>

<body>

    <main>

        <!-- component -->
        <div
            class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16">
            <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
                <div class="relative">
                    <div class="absolute">
                        <div class="">
                            <h1 class="my-2 text-gray-800 font-bold text-2xl">
                                Acceso no autorizado
                            </h1>
                            <p class="my-2 text-gray-800">Vete de aqui</p>
                            <button
                                class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">
                                <a href="~/">Irme</a>
                            </button>
                        </div>
                    </div>
                    <div>
                        <img src="https://i.ibb.co/G9DC8S0/401-2.png" />
                    </div>
                </div>
            </div>
            <div>
                <img src="https://i.ibb.co/ck1SGFJ/Group.png" />
            </div>
        </div>
    </main>
</body>

</html>